<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Dynasty Ranker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="shortcut icon" href='@Url.Content("~/Images/favicon-16x16.png")'>*@
    <link rel="shortcut icon" href='@Url.Content("~/Images/MattsDRIco.png")'>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="img-fluid" id="drLogo">
                <a href="@Url.Action("Index", "Home")" title="Return Home" class="navbar-brand">
                    <img alt="Widget View" src="@Url.Content("~/Images/MattsDRLogo3.png")" class="hideIf600">
                    <img alt="Widget View" src="@Url.Content("~/Images/MattsDRIco.png")" class="displayIf600">
                </a>

                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse align-top">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link whiteA" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link whiteA" href="@Url.Action("About", "Home")">About/FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link whiteA" href="https://www.paypal.com/donate?business=X7CWHGZ5A69TU&currency_code=USD">Donate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @**@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>Comments, Questions or Suggestions? Contact me at: <a class="greenA" href="mailto:DynastyRanker@gmail.com">DynastyRanker@gmail.com</a></p>
        @*<form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="X7CWHGZ5A69TU" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /><br />
        </form>*@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<!--<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynasty Ranker</title>

</head>
<body>-->
<!--<img src="~/Images/DRLogo5.jpg" alt="DR" class="alignCenter"><br />-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="drLogo">
                <a href="@Url.Action("Index", "Home")" title="Return Home" class="links">
                    <img alt="Widget View" src="@Url.Content("~/DRLogo5.jpg")">

                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


</body>
</html>
<footer>
    <p>Comments, Questions or Suggestions? Contact me at: <a href="mailto:DynastyRanker@gmail.com">DynastyRanker@gmail.com</a></p>
</footer>-->
