@model DynastyRanker.Models.UserInfo

<link href="~/css/site.css" rel="stylesheet" />

<body style="background-color:#18202F;">

    <div class="homePage">

        <div class="littleGap"></div>

        <div class="infobox-container">
            <div class="infobox-child">

                <h4>Working on adding rookies now!</h4><br />
                <p>
                    Sleeper leagues should now properly display rookies, but on leagues that have already drafted I've removed the Draft Capital section
                    until I figure out the best way to display future Draft Capital.<br /><br />If you have an MFL league where you've already completed your rookie
                    draft, or if your Sleeper League no longer works properly, please email me the league ID so I can test!
                </p>
            </div>
        </div>

        <div class="littleGap"></div>

        <div class="infobox-container">
            <div class="infobox-child">
                <div class="subtitle">Use the trade value chart at <a class="biggerA greenA" href="https://keeptradecut.com/">KeepTradeCut.com</a> to rank the teams in your Dynasty league. </div><br />
                <p>
                    KeepTradeCut created an incredible system to determine player trade values based on crowdsourced data. Here at DynastyRanker you can rank
                    the teams in your league using the data at KeepTradeCut and browse through your leagues position rankings to find trades that can benefit
                    both owners.
                </p>
            </div>
        </div>

        <div class="littleGap"></div>

        <div class="sleeperIDBiggerPadding">
            <img alt="Sleeper Logo" class="sleeperMFLLogo" src="@Url.Content("~/Images/sleeperlogo_without_text.png")">
            <h1>Enter your Sleeper User Name.</h1><br />

            @using (Html.BeginForm("SelectLeague", "Sleeper"))
            {
    @Html.TextBoxFor(m => m.UserName, new { @class = "sleeperIDField" })
                    <button type="submit" class="btn btn-info">Submit</button>            }
        </div>

        <div class="tinyGap"></div>
        <div class="alignCenter">- OR -</div>
        <div class="tinyGap"></div>

        <div class="sleeperID">
            <img alt="Sleeper Logo" class="sleeperMFLLogo" src="@Url.Content("~/Images/sleeperlogo_without_text.png")">
            <h1>Enter your Sleeper League ID.</h1><br />
            <div class="container">
                @using (Html.BeginForm("DisplayLeague", "Sleeper"))
                {
    @Html.TextBoxFor(m => m.LeagueID, new { @class = "sleeperIDField" })
                    <button type="submit" class="btn btn-info">Submit</button>}
            </div>
            <img alt="Sleeper ID" src="@Url.Content("~/Images/SleeperLeagueID.png")" class="hideIf600">
        </div>

        <div class="tinyGap"></div>
        <div class="alignCenter">- OR -</div>
        <div class="tinyGap"></div>

        <div class="sleeperID">
            <img alt="Sleeper Logo" class="sleeperMFLLogo" src="@Url.Content("~/Images/mfl-cap.png")">
            <h1>Enter your MyFantasyLeague League ID.</h1><br />

            @using (Html.BeginForm("MFLDisplayLeague", "MFL"))
            {
    @Html.TextBoxFor(m => m.LeagueID, new { @class = "sleeperIDField" })
                    <button type="submit" class="btn btn-info">Submit</button>            }
            <img alt="Sleeper ID" src="@Url.Content("~/Images/MFLLeagueID.png")" class="hideIf600">
        </div>

        <div class="littleGap"></div>

        <img alt="Dynasty Ranker" src="@Url.Content("~/Images/DRHomepage6.png")" class="hideIf1200">
    </div>
</body>
